@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Nunito:wght@200;300;400;600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --yellow:#24d2f9;
}


*{
    font-family: 'Comic Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: none;
    transition: all .2s linear;
}


*::selection{
    background: lightblue;
    color: #333;
}


html{
    font-size: 62.5%;
    overflow-x: hidden;
}




body{
    background: #111;
    overflow-x: hidden;
    padding-left:  35rem; 
}


section {
    min-height: 100vh;
    padding: 1rem;
}


.btn{
    padding: .7rem 1rem;
    background: #333;
    color: white;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}


.btn i{
    padding: 0 .5rem;
    font-size: 1.5rem;
}


.btn:hover{
    color: #24d2f9;
}


.heading{
    text-align: center;
    margin: 0 6rem;
    font-size: 4rem;
    padding: 1rem;
    border-bottom: .1rem solid #fff4;
    color: white;
}


.heading span{
    color: var(--yellow);
}


header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    width: 35rem;
    background: #1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}


header .user img{
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border: .7rem solid var(--yellow);
}


header img:hover{
    transform: scale(1.1);
}


header .user .name{
    font-size: 3.5rem;
    color: white;
}


header .user .post{
    font-size: 2rem;
    color: grey;
}


header .navbar{
    width: 100%;
}


header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding: 1rem;
    margin: 1.5rem 0;
    background: #333;
    color: white;
    font-size: 2rem;
    border-radius: 5rem;
}


header .navbar ul li a:hover{
    background: var(--yellow);
    color: black;
}


header .navbar ul li a:hover{
    transform: scale(1.1);
}

#menu{
    position: fixed;
    top: 2rem;
    right: 2rem;
    background: #333;
    color: white;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 1rem 1.5rem;
    z-index: 1000;
    display: none;
}
.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}


.home h3{
    font-size: 2.5rem;
    color: grey;
}


.home h1{
   font-size: 5rem;
   color: white;
}


.home h1 span{
    color:var(--yellow);
}


.home p{
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
}


.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
}


.about .row .info{
    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}


.about .row .info h3{
    font-size: 1.7rem;
    color: white;
    padding: 1rem 0;
    font-weight: normal;
}


.about .row .info h3 span{
    color: grey;
    padding: 0 .5rem;
}


.about .row .counter{
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}


.about .row .counter .box{
    width: 25rem;
    background: #222;
    text-align: left;
    padding: 2rem;
    margin: 1rem;
    border-radius: 1rem;
}


.about .row .counter .box span{
    font-size: 4rem;
    color: var(--yellow);
}


.about .row .counter .box h3{
    margin-top: 2rem;
    font-size: 3rem;
    color: white;
}


.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
}


.education .box-container .box{
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid grey;
    position:relative;
}


.education .box-container .box span{
    font-size: 1.3rem ;
    color: grey;
    border-radius: .5rem 2.5rem;
}


.education .box-container .box h3{
    font-size: 2rem;
    color: white;
    padding-top: 1.5rem;
}


.education .box-container .box p{
    font-size: 1.4rem;
    color: white;
    padding: 1rem 0;
}


.education .box-container .box i{
    position: absolute;
    top: -0.5rem;
    left: -1.3rem;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 30%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color: white;
    background: white;
}



.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.contact .row .content{
    flex: 1 1 30rem;
    padding: 4rem;
    padding-bottom: 0;
}


.contact .row form{
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
}


.contact .row form .box{
    padding: 1.5rem;
    margin: 1rem 0;
    background: #3333;
    color: white;
    text-transform: none;
    font-size: 1.7rem;
    width: 100%;
}


.contact .row form .box::placeholder{
    text-transform: capitalize;
}


.contact .row form .message{
    height: 15rem;
    resize: none;
}


.contact .row .content .title{
    text-transform: uppercase;
    color: grey;
    font-size: 3rem;
    padding-bottom: 2rem;
}


.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
    font-weight: normal;
}



































/* media queries */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }
    .home{
        font-size: 1rem 4rem;
    }
}

@media (max-width:991px){
    header{
        left: -120%;
    }
    #menu{
        display: block;
    }
    header.toggle{
        left: 0%;
    }
    body{
        padding: 0;
    }
}

@media (max-width:768px){
    html{
        font-size: 50%;
    }
}

@media (max-width:400px){
    header{
        width: 100vw;
    }
    .heading{
        margin: 0 3 rem;
    }
    .about .row .counter .box{
        width: 100%;
    }
    .education .box-container .box{
        width: 100%;
    }
    .portfolio .box-container .box{
        width: 100%;
    }
    .contact .row form{
        margin: 3rem 0;
    }
}